:root {
  font-family: "karla", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #293264;
  background-color: #F5F7FB;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;

}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: "karla", sans-serif;
  color: #293264;
  background-color: #F5F7FB;
  z-index: 1;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  font-family: "karla", sans-serif;
  color: #ffffff;
  background-color: #4D5B9E;
  border-radius: 8px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  transition: border-color 0.25s;
  transition: font-weight 0.3s ease;
  max-width: 160px;
}

button:hover {
  background-color: #333;
}

button:active {
  background-color: red;
  color: black;
}

.darkModeButton {
  align-self: flex-start;
}

.top-right {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 0;
}

.bottom-left {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -1;
}

.quizAnswersContainer {
  display: flex;
  gap: 2em;
  z-index: 1;
}

.answers {
  border: 2px solid #4D5B9E;
  border-radius: 13px;
  padding: .5em;
  font-weight: 700;
  list-style-type: none;
  user-select: text;
  cursor: pointer;
}

.answers:focus {
  outline: none;
  background-color: #e0f7fa;
  box-shadow: 0 0 5px 2px rgba(0, 150, 136, 0.5);
  border: 2px solid #009688;
}

.answers.selected {
  background-color: #D6DBF5;
  border: none;
}

.answers.correct {
  background-color: #94D7A2;
  border: none;
  color: #293264;
}

.answers.incorrect {
  background-color: #F8BCBC;
  color: #293264;
  border: none;
}

.answers.unselected {
  background-color: #F5F7FB;
  color: #293264;
  opacity: 50%;
}

.quizAnswersContainer {
  list-style-type: none;
  padding: 0;
}

h2 {
  max-width: 700px;
  z-index: 1;
}

.selector-group {
  margin-bottom: 15px;
}

.selector-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.selector-group select {
  width: 100%;
  color: #242424;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #f9f9f9;
  outline: none;
  transition: border-color 0.3s;
}

.selector-group select:focus {
  border-color: #007bff;
}

.bottomBox {
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;
}

.score {
  font-size: 1.4rem;
  font-weight: 700;
  z-index: 1;
}