:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  font-family: "karla", sans-serif;
  color: #ffffff;
  background-color: #4D5B9E;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  transition: border-color 0.25s;
  transition: font-weight 0.3s ease;
  max-width: 160px;
}

button:hover {
  border-color: black;
  font-weight: 700;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.top-right {
  position: absolute;
  top: 0;
  right: 0;
}

.bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
}

.quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quizAnswersContainer {
  display: flex;
  gap: 2em;
}

.answers {
  border: 2px solid #4D5B9E;
  border-radius: 13px;
  padding: .3em;
  font-weight: 700;
  list-style-type: none;
  user-select: text;
  cursor: pointer;
}

.answers.selected {
  background-color: #D6DBF5;
  border: none;
}

.answers.correct {
  background-color: green;
  color: white;
}

.answers.incorrect {
  background-color: red;
  color: white;
}

.answers.unselected {
  background-color: lightgray;
  color: white;
}

.quizAnswersContainer {
  list-style-type: none;
  padding: 0;
}

h2 {
  max-width: 700px;
}

.selector-group {
  margin-bottom: 15px;
}

.selector-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.selector-group select {
  width: 100%;
  color: #242424;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #f9f9f9;
  outline: none;
  transition: border-color 0.3s;
}

.selector-group select:focus {
  border-color: #007bff;
}